* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  width: 80%;
  margin: 0 auto;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  position: relative;
}

p {
  padding: 60px 10px 10px 10px;
  background-color: rgb(148, 146, 146);
  border: 2px solid black;
}

.food {
  position: absolute;
  top: 17px;
  right: 17px;
  border: 2px solid black;
  font-weight: 700;
  padding: 5px 40px;
  border-top: none;
  border-right: none;
}

.food-1 {
  background-color: pink;
}

.food-2 {
  background-color: red;
  color: #fff;
}

.food-3 {
  background-color: rgb(212, 212, 138);
}

/* Simple Responsive Framework. */
/********** Desktop: 992px and above**********/
@media (min-width: 992px) {
  .col-lg-4 {
    width: 33.333%;
  }
}

/********** Tablet: between 768px and 991px, inclusively **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile: equal to or less than 767px**********/
@media (max-width: 767px) {
  .col-xs-12 {
    width: 100%;
  }
}
